body {
	margin: 0;
	text-align: center;
}

.wrap {
	margin-top: 50vh;
	transform: translateY(-50%);
	display: inline-block;
	box-sizing: border-box;
	width: 155px;
	height: 80px;
	background-color: lightgrey;
	border-radius: 40px;
	position: relative;
	cursor: pointer;
}

.wrap::before {
	content: '';
	display: block;
	position: absolute;
	background-color: white;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	top: 5px;
	margin-left: 5px;
}

#iphone_checkbox {
	display: none;
}

#iphone_checkbox:checked + .wrap {
	background-color: #6edc5f;
}

#iphone_checkbox:checked + .wrap::before {
	right: 5px;
}

